@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('helvetica.eot');
    src: url('helvetica.eot') format('embedded-opentype'),
         url('helvetica.woff') format('woff'),
         url('helvetica.ttf') format('truetype'),
         url('helvetica.svg#HelveticaNeueRegular') format('svg');
}
