#plx{
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0;
	margin-top: -100px;
	padding: 0;
}
#plx ul.plxcontainer{
	list-style:none;
	height:100%;
	width:100%;
	padding:0;
	position:relative;
	display:block;
	background-image: url(../img/meli_maya_bg.jpg);
	background-repeat: repeat-x;
	margin-top: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;	
}
#plx .plxcontainer li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	position: relative;
	height: 824px;;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
	top: 0px;
}
.elem1{
	/*height:70px;
	width:30px;
	background-color:#036;
	position:absolute;
	left:100px;
	top:40px;*/
}
.elem2{
	/*height:30px;
	width:90px;
	background-color:#C33;
	position:absolute;
	left:200px;
	top:70px;*/
}
.elem3{
	/*height:30px;
	width:130px;
	background-color:#693;
	position:absolute;
	left:250px;
	top:50px;*/
}
#plx1{
}
#plx2,#plx3,#plx4{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height: 30px;
	width: 133px;
}